.square{
    padding-top: 40px;
    padding-bottom: 40px;
    display:flex;
    width:100vw;
    justify-content: space-around;
}
.straight{
    width: 250px;
    display: grid;
    justify-content: center;
   
}
input,button{
    margin: 6px 0;
    padding-left: 1.5vh;
}
input{
    border-radius: 7px;
}
button{
    padding: 12px 2px;
    border-radius: 5px;
    border: none;
    background-color:turquoise;
}
.results{
    width: 90vw;
    display: flex;
    justify-content: center;
}

.items{
    text-align: justify!important;
}