<div class="square">
  <div class="straight">
    <input [(ngModel)]="username" type="text" name="userId" id="" placeholder="Username"> <br>
    <p *ngIf="failed" style="color: red">This username doesn't exist.</p>
    <button (click)="SearchUsername()" class="btn btn-primary">Search by username</button>
  </div>
  <div class="straight">
    <input [(ngModel)]="userId" type="text" name="userId" id="" placeholder="User ID"> <br>
    <p *ngIf="failed2" style="color: red">This ID doesn't exist.</p>
    <button (click)="SearchId()" class="btn btn-primary">Search by ID</button>
  </div>
</div>

<div class="results">
  <div class="items" *ngIf="userexists">
    ID: {{callback.id}} <br>
    Name: {{callback.name}} <br>
    Role: {{callback.role}} <br>
    Email: {{callback.email}} <br>
  </div>
</div>