<div class="square">

  <div class="straight">
    <input (keypress)="Reset()" [(ngModel)]="username" type="text" name="username" placeholder="Username"> <br>
    <p *ngIf="failed" style="color: red">This user doesn't exist.</p>
    <button (click)="SearchUsername()" class="btn btn-primary">Search by username</button>
  </div>

  <div class="straight">
    <input (keypress)="Reset()" [(ngModel)]="userId" type="text" name="userid" placeholder="User ID"> <br>
    <p *ngIf="failed2" style="color: red">This userID doesn't exist.</p>
    <button (click)="SearchId()" class="btn btn-primary">Search by ID</button>
  </div>

  <div class="straight">
    <input (keypress)="Reset()" [(ngModel)]="policyName" type="text" name="policiename" placeholder="Username "> <br>
    <p *ngIf="failed3" style="color: red">This user doesn't exist.</p> 
    <button (click)="SearchPolicyName()" class="btn btn-primary">Search policies by username</button>
  </div>

  <div class="straight">
    <input (keypress)="Reset()" [(ngModel)]="policyId" type="text" name="userbypolicy" placeholder="Policy number"> <br>
    <p *ngIf="failed4" style="color: red">This policy number doesn't exist.</p>
    <button (click)="SearchPolicyId()" class="btn btn-primary">Search user by policy number</button>
  </div>

</div>

<div >

<div *ngIf="userexists">
  <p>Id: {{user.id}}</p>
  <p>Name: {{user.name}}</p>
  <p>Email: {{user.email}}</p>
  <p>Role: {{user.role}}</p>

</div>

<div class="array">
<div *ngFor = "let user of array; index as i">
<p>{{i}}</p>
<p>ID: {{user.id}}</p>
<p>Amount insured: {{user.amountInsured}}</p>
<p>Email: {{user.email}}</p>
<p>Inception date: {{user.inceptionDate}}</p>
<p>Installment payment: {{user.installmentPayment}}</p>
<p>ClientID: {{user.clientId}}</p>
</div>

</div>

</div>